.Pokedex {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px 20px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  justify-items: center;
}

.Pokedex-title {
  text-align: center;
  color: grey;
}

.Pokedex-message {
  grid-column: 1 / -1;
  font-size: 1.3rem;  
  text-transform: uppercase;
}